[submodule "nvim/pack/plugins/start/plenary.nvim"]
	path = nvim/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/pack/plugins/start/telescope.nvim"]
	path = nvim/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "nvim/pack/plugins/start/harpoon"]
	path = nvim/pack/plugins/start/harpoon
	url = https://github.com/ThePrimeagen/harpoon.git
	branch = harpoon2
[submodule "nvim/pack/plugins/start/tokyonight.nvim"]
	path = nvim/pack/plugins/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "tmux/plugins/tokyo-night-tmux"]
	path = tmux/plugins/tokyo-night-tmux
	url = https://github.com/janoamaral/tokyo-night-tmux.git
